*

!data/
!data/amazon_meta_automotive_sample.csv
!data/amazon_reviews_automotive_sample.csv

!Scripts/
!Scripts/reduce_dataset.py

!src/
!src/main.py
!src/models.py

!README.md
!.gitignore
!requirements.txt

!tests/
!tests/test_main.py
